.landing__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(41, 34, 32);
}

.landing__column-art{
    width: 120px;
    min-width: 120px;
    height: 100%;
    overflow: hidden;
}
.landing__column-welcome{
    width: 400px;
    min-width: 360px;
    height: 100%;
    
}

.landing__column-projects{
    width: 600px;
    min-width: 300px;
    height: 100%;
}

/* md devices and down */
@media (max-width: 991px) {
    .landing__column-art{
        display: none;
    }
  }

    /* sm devices and down */
  @media (max-width: 767px) {
   }

