.projects__container{
position: relative;
width: 200px;
}

.projects__title{
    position: absolute;
    top: -60px;
    font-size: 30px;
    font-weight: 600;
    color: #fffaf1;

}

.projects__container ul{
    padding: 3px;
}

.projects__container a{
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 250, 241, .8);
    text-decoration: none;
    padding: 3px;

}

.projects__links-decor{
    position: absolute;
}