.welcome__container{
    height: 100%;
}

.welcome__intro-container{
    display: inline-block;
    position: sticky;
    top: 30vh;
    padding: 20px;
    padding-bottom: 40px;
    /* background-color: antiquewhite; */
}

.welcome__heading{
    /* font-family: "Roboto";  */
    font-family: 'Playfair Display', serif;
    font-size: 40px; 
    font-weight: 900;
    letter-spacing: 0px;
    line-height: 60px;
    color: #fffaf1;
}

.welcome__tagline{
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 250, 241, .5);
}