.body{
    display: flex; 
    justify-content: center;
}

.container{
    max-width: 1100px;
    /* min-height: 100vh;  */
}

.title{
    color: #c5462c;
    font-weight: 700;
    font-family: "Roboto";
}

.paragraph{
    font-size: 20px;
}

.heading{
    color: rgb(30,30,30);
    font-weight: 600;
    font-family: "Roboto";
    font-size: 30px;
}

.image-100{
    width: 100%; 
}

.image-80{
    width: 80%; 
}