.detailed-project-card__container{
    display: inline-block;
    height: 300px;
    margin: 20px;
    /* height: 30%; */
    width: 100%;
    background-color: #fffaf1;
    /* border: 1px solid rgb(41, 34, 32); */
    /* border: 1px solid white; */
    /* border: 3px solid #c5462c; */
    border-radius: 8px;
    box-shadow: 0px 0px 10px 6px rgba(255, 250, 241, 1);
    position: relative;
    /* box-shadow: 0px 0px 10px 6px rgba(197,70,44,1); */
}


.detailed-project-card__image{
    width: 100%;
    height: 90px;
    object-fit: cover;
    object-position: top;
}

.detailed-project-card__title{
    font-size: 30px;
}

.detailed-project-card__tags{
    
}
.detailed-project-card__technologies{
    
}
.detailed-project-card__links{
    
}