.about-me__wrapper{
    background-color: #f5eae9;
    display: flex;
    justify-content: center;
}

.about-me__container{
    max-width: 1100px
}

.about-me__heading{
    color: #c5462c;
    font-weight: 700;
    font-family: "Roboto",
}

.about-me__container p{
    font-size: 20px;
    margin-bottom: 20px;
}

.about-me__image{
    width: 100%; 
}