.landing__container{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.landing__column-art{
    width: 200px;
    background-color: rgb(221, 154, 154);
    height: 100%;
}
.landing__column-welcome{
    width: 450px;
    background-color: rgb(165, 205, 165);
    height: 100%;
}

.landing__column-projects{
    min-width: 450px;
    max-width: 300px;
    background-color: rgb(168, 168, 196);
    height: 100%;
}

/* md devices and down */
@media (max-width: 991px) {
    .landing__column-art{
        display: none;
    }
  }

    /* sm devices and down */
  @media (max-width: 767px) {
   }

