.welcome__background-container{
    height: 65vh;
    background-image: url('../assets/home-background-3.png');
    background-position: right top;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.welcome__container{
    width: 1100px;
}

.welcome__intro-container{
    display: inline-block;
    position: sticky;
    top: 100px;
    padding: 20px;
}

.welcome__heading{
    font-family: "Roboto"; 
    font-size: 60px; 
    font-weight: 900;
    letter-spacing: 0px;
    line-height: 60px;
}

.welcome__tagline{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0,0,0,.9);
}