body {
    overflow-x: hidden !important;
}


/* Navigation Bar Styling */

body .nav-link {
    color: white !important;
}

:hover.nav-link {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #f2d3ce;
}

:active.nav-link {
    color: #f2d3ce !important;
}

:hover.my-dropdown-item {
    background-color: #f2d3ce !important;
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
    text-decoration-color: #f2d3ce !important;
}

:hover.card {
    opacity: .5;
    /* filter: blur(2px); */
    background-color: #f2d3ce !important;
    z-index: 2 !important;
}

/* #c5462c */